<!DOCTYPE html>
<html lang="en">
<%- include("../partials/header.ejs",{login:"dashboard"})  %> 

<body>



    <h1>
        welcome to the dashboard
    </h1>

    <form action="/" method="GET">
        <button class="btn btn-primary">
            Click here
        </button>


    </form>
    
</body>
</html>